.h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oranienbaum", serif;
}

body {
  background-image: url(../images/bg-main.png);
  background-repeat: no-repeat;
  background-position: 30% 5px;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.menu-bar {
  padding: 35px 0px;
  color: #ffff;
}

.navbar_scrolled {
  position: fixed;
  background-color: #000;
  z-index: 500;
  transition: 1s;
}

.navbar button {
  background-color: #fff;
}

.menu__item {
  margin-left: 17px;
}

.menu__item a {
  font-family: "Oranienbaum", serif;
  font-size: 18px;
  color: #ffff;
  font-weight: 700;
}

.menu__item a:hover {
  text-decoration: none;
  color: #868686;
}

.logo {
  padding-top: 50px;
}

.header__title {
  padding-top: 25px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.header__text {
  color: #9a9174;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 400;
}

.help {
  background-color: #fff;
  margin-top: 60px;
  text-align: center;
  padding-top: 50px;
}

.help__title,
.happen__title,
.rate__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.help__text {
  padding-top: 25px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.happen {
  background-color: #fff;
  padding-left: 150px;
  padding-top: 50px;
}

.happen__text {
  padding-top: 15px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.happen__text__center {
  padding-left: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.rate {
  background-color: #fff;
  padding-top: 50px;
  text-align: center;
}

.table__left {
  display: flex;
  align-items: flex-start;
  padding-left: 15px;
}

th {
  text-transform: uppercase;
}

.rate__table {
  margin-top: 10px;
  margin-left: 50px;
}

.btn__text {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.books {
  background-color: #fff;
  padding-top: 20px;
}

.package {
  background-color: #fff;
  padding-top: 40px;
  text-align: center;
  text-transform: uppercase;
}

.package__card {
  margin-top: 15px;
}

.card__header {
  padding-top: 40px;
  padding-bottom: 10px;
  text-transform: none;
}

.card__body {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__body h6 {
  font-family: "Roboto", sans-serif;
}

.card__footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__price {
  color: #828083;
}

.card__price::before {
  content: "";
  border-bottom: 2px solid #fc2d59;
  position: absolute;
  top: 13%;
  left: 34%;
  width: 10%;
  height: 55%;
  transform: rotate(-20deg);
}

.card__button {
  padding-top: 15px;
  padding-bottom: 25px;
}

.card__btn {
  padding: 10px 110px;
  cursor: pointer;
}

.package__card:hover {
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.39);
  transition: 0.3s;
}

.card__btn:hover {
  background-image: url(../images/grocery-cart.png);
  background-repeat: no-repeat;
  background-position: 60px 10px;
  transition: 0.3s;
}

.fancybox__hidden {
  display: none;
}

.footer {
  background-color: #000;
  padding-left: 350px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer__btn {
  padding: 15px 45px;
  cursor: pointer;
  border: 1px solid #fff;
  text-transform: uppercase;
}

.footer__text {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__subtext {
  color: #fff;
}

@media (max-width: 1199px) {
  .society__images {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    top: 10%;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -100%;
  }

  .books__image {
    margin-left: 20px;
  }

  .card__price::before {
    content: "";
    border-bottom: 2px solid #fc2d59;
    position: absolute;
    top: 14%;
    left: 38%;
    width: 10%;
    height: 55%;
    transform: rotate(-20deg);
  }

  .happen__content {
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  body {
    background-position: 60% 5px;
  }

  .help__image {
    max-width: 768px;
  }

  .happen__content {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .society__images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0%;
    left: 100%;
  }

  .menu {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0%;
    right: -240%;
  }

  body {
    background-position: 40% 0px;
  }

  .help__title,
  .happen__title {
    font-size: 18px;
  }

  .help__text,
  .happen__text {
    font-size: 12px;
  }

  .help__image {
    max-width: 575px;
  }

  .books__image {
    max-width: 575px;
  }

  .happen__content {
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .society__images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -80%;
    left: 100%;
  }

  .menu {
    display: none;
  }

  .help__image {
    max-width: 355px;
  }

  .books__image {
    max-width: 355px;
  }
}
